*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family: arial,sans-serif;
}
main{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    min-width:100px;
    min-height: 100px;
    padding:5rem;
    color:white;
    font-weight:bold;
    font-size:2rem;
    cursor:pointer;

}
.grandparent{
    background: #b1d4e0;
    color:black;

}
.parent{
    background: #145d;
}
.child{
    background:#0c2d48;
}