*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family: arial,sans-serif;
}
main{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    padding: 1rem 2rem;
    background-color:#333;
    color:#efefef;
    border-radius: 1rem;
}
button{
    padding:1rem 2rem;
    font-size:1.4rem;
    border-radius: 1rem;
    cursor:pointer;
    margin-top:1rem;
    border:none;
    outline: none;
    transition: all 0.4s;
}

button:hover{
    background: rgb(214,214,214);
}