@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}


body{
    font-family: 'Poppins', sans-serif;

}
a{
    text-decoration:none;
    color:beige;
}
.header{
    min-height:100vh;
    background:url("bg-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:beige;
}
.container{
    max-width:1200px;
    margin:auto;
    width:90%;
}
.nav{
    min-height:8vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.nav-items{
    width:40%;
    display:flex;
    list-style-type:none;
    justify-content:space-between;

}
.headline{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.btn{
    display: inline-block;
    outline:none;
    border:none;
    cursor:pointer;
}
.btn-headline{
    padding:1rem 2rem;
    font-size: 1.2rem;
    margin-top:1rem;
    font-weight: 500;
}
.section-todo{
    margin-top:5rem;
    text-align: center;

}
.bg-dark{
    bakcground:#000;
    color:#eee;
}
.form-todo{
    border:2px solid white;
    min-height:8vh;
    display:flex;
    justify-content:space-be tween ;

}
.form-todo input{
    min-height:100%;
}
.form-todo input[type="text"]{
    width:78%;
}
.form-todo input[type="submit"]{
    width:20%;
    background-color: #001119;
    color:black;
    font-weight:bold;
}
.todo-list{
    text-align: left;
    font-size: 1.2rem;
    list-style-type: none;
}

.todo-list li{
    padding: 0.7rem;
    background: #444;
    color:white;
    margin-top: 1rem;
    text-transform:capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-btn{
    padding:0.5rem 1rem;
    font-size:1rem;
    font-weight:bold;
    cursor:pointer;
}
.section-signup{
    margin-top: 5rem;
    text-align:left;
    background-color: grey;
    border-radius: 10px;
    padding:1rem;

}
.signup-form{
    max-width:800px;
    width:95%;
    text-align:center;
    margin:auto ;

}
.signup-form label{
    display:block;

}
.signup-form input{
    display:block;
    width:100%;
    padding:0.5rem;

}
.form-group{
    margin-top:1rem;

}
.signup-form textarea{
    width:100%;
   }
.signup-btn{
    background-color: rgb(44,55,63);
    color:white;
    padding:1rem 2rem;
    display: inline-block;
    margin:auto;
    margin-top: 1rem;

}